.notfound {
  width: 100%;
  height: 250px;
  padding: 15px 15px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.notfound > h1 {
  color: red;
  font-size: 22px;
  font-weight: 500;
}

.notfound > h2 {
  font-size: 24px;
  font-weight: 400;
  color: #333;
}

.notfound > p {
  font-size: 16px;
  font-weight: 300;
  color: #333;
  text-align: center;
}

.notfound > a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #f1f1f1;
}
